@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
body {
	margin: 0;
	height: 100vh;
	widows: 100vw;
	overflow: hidden;
	background-size: cover;
	font-family: 'Bakbak One', cursive;
	
}
.login-box {
 width: 280px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: black;
 border: solid 3px black;
 background: black;
 opacity: 0.9;
 font-family: 'Bakbak One', cursive;
}
.login-box h4{
	color: white;
	font-size: 28px;
	border-bottom: 3px solid green;
	margin-bottom: 30px;
	padding: 13px 0;
}
.login-box input{
	border: none;
	outline: hidden; /* deixa transparente a porra toda  */
	background: none;
	color: white;
	float: left;

}
button.btn {
	width: 100%;
	background: none;
	border:2px solid green;
	color: white;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	margin: 12px 0;
}
header {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;

}
label ,input{
	color: white;
	font-size: 15px;
}

input.form-control {
	border: solid 2px white;
}
.cadastro{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 19px;
	color: white;
}
a.cadastro:hover {
	color: green;
	text-decoration: none;
}